<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qdgdcm.appmine">

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.SubscribeActivity"></activity>
        <activity android:name=".activity.SignInActivity" />
        <activity android:name=".activity.DownloadActivity" />
        <activity android:name=".activity.MyScoreActivity" />
        <activity android:name=".activity.EditUserInfoActivity" />
    </application>

</manifest>